openfhe-pdte filter=lfs diff=lfs merge=lfs -text
packed-PROBONITE filter=lfs diff=lfs merge=lfs -text
tfhe-pdte filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
estimator.py filter=lfs diff=lfs merge=lfs -text
include filter=lfs diff=lfs merge=lfs -text
main.cpp filter=lfs diff=lfs merge=lfs -text
